/* nav */
.title-bar {
  float: right;
  background-color: transparent; }

.top-bar, .top-bar ul {
  /* mobile top bar transparent */
  background-color: transparent;
  /* borders for each menu item */
  /* link colors white */ }
  .top-bar li, .top-bar ul li {
    border-bottom: 1px solid white; }
  .top-bar a, .top-bar ul a {
    color: white; }

.top-bar-right {
  clear: right;
  text-align: right; }

/* hero1 */
.hero1 {
  position: relative;
  height: 50vh;
  background: #fff url("../img/whiteboard.jpg") no-repeat fixed center center;
  background-size: 150% 100%; }
  .hero1 .hero1text h1, .hero1 h2 {
    font-family: 'Lato';
    color: white;
    font-weight: 900;
    text-align: left; }
  .hero1 .hero1text {
    position: absolute;
    bottom: 5%;
    left: 5%; }
    .hero1 .hero1text h1 {
      font-size: 36px;
      letter-spacing: 4.5px;
      margin-bottom: 0px; }

.hero2 {
  position: relative;
  height: 101vh;
  background-color: #4f299a; }
  .hero2 .hero2text h1, .hero2 h2 {
    width: 300px;
    color: white;
    font-family: 'Lato';
    text-align: center; }
  .hero2 .hero2text {
    padding-top: 20px; }
    .hero2 .hero2text h1 {
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 4px;
      margin-bottom: 20px; }
    .hero2 .hero2text h2 {
      font-size: 20px; }
    .hero2 .hero2text p {
      color: white;
      text-align: left;
      font-family: 'Lato';
      width: 100%;
      font-size: 18px; }

.hero3 {
  background-color: #e1ad2a;
  position: relative;
  height: 40vh; }
  .hero3 .hero3text h1 {
    color: white;
    font-family: 'Lato';
    display: inline-block; }
  .hero3 .hero3text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .hero3 .hero3text h1 {
      font-size: 28px;
      letter-spacing: 2.5px;
      margin-bottom: 10px;
      width: 100%; }
    .hero3 .hero3text a {
      color: white;
      background-color: #4f299a;
      border-radius: 10px;
      font-family: 'Lato';
      font-size: 32px;
      text-align: center; }

.footer {
  background-color: #3F4045; }
  .footer .footerText {
    padding-top: 30px;
    margin-bottom: 30px; }
    .footer .footerText h1 {
      color: white;
      text-align: center;
      font-family: 'Lato';
      padding-bottom: 10px;
      font-size: 20px; }
    .footer .footerText h1:last-child {
      margin-top: -10px; }
    .footer .footerText h1:nth-last-child(2) {
      padding-bottom: 0px; }

/* Small only */
/* Medium and up */
@media screen and (min-width: 40em) {
  /* nav */
  /* mobile specification reset */
  .top-bar-right {
    clear: none;
    text-align: left; }
  /* uAchieve logo white */
  .top-bar-left li {
    color: white; }
  .top-bar, .top-bar ul {
    padding: 10px; }
    .top-bar li, .top-bar ul li {
      border: none; } }

/* iphone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .hero1 {
    height: 75vh; }
  .hero2 {
    height: 90vh; } }

/* Medium only */
/* Large and up */
@media screen and (min-width: 64em) {
  .fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial; }
  .hero1 {
    height: 75vh; }
    .hero1 .hero1text h1 {
      font-size: 100px; }
    .hero1 .hero1text h2 {
      font-size: 48px; }
  .hero2 .hero2text h1 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 30px; }
  .hero2 .hero2text h2 {
    font-size: 32px;
    width: 100%; }
  .hero3 {
    position: relative;
    height: 50vh; }
    .hero3 .hero3text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0px 20px 0px 20px;
      margin: 0px; }
      .hero3 .hero3text h1 {
        font-size: 48px;
        margin-bottom: 40px; }
      .hero3 .hero3text h2 {
        font-size: 40px;
        margin-bottom: 15px; }
      .hero3 .hero3text h3 {
        font-size: 32px; }
      .hero3 .hero3text a {
        font-size: 32px; }
  .footer .footerText h1 {
    font-size: 24px; } }

/* Large only */
