$primary-color: #4f299a;
$secondary-color: #e1ad2a;
$tertiary-color: #3F4045;

/* nav */
.title-bar {
	float: right;
	background-color: transparent;
}

.top-bar, .top-bar ul {
	/* mobile top bar transparent */
	background-color: transparent;

	/* borders for each menu item */
	li {
		border-bottom: 1px solid white;
	}

	/* link colors white */
	a {
		color: white;
	}
}

.top-bar-right {
	clear: right;
	text-align: right;
}

/* hero1 */
.hero1 {
	position: relative;

	height: 50vh;
	background: #fff url('../img/whiteboard.jpg') no-repeat fixed center center;
	background-size: 150% 100%;

	.hero1text h1, h2{
		font-family: 'Lato';
		color: white;
		font-weight: 900;
		text-align: left;
	}

	.hero1text {
		position: absolute;
		bottom: 5%;
		left: 5%;

		h1 {
			font-size: 36px;
			letter-spacing: 4.5px;
			margin-bottom: 0px;
		}
	}
}

.hero2 {
	position: relative;
	height: 101vh;
	background-color: $primary-color;

	.hero2text h1, h2 {
		width: 300px;
		color: white;
		font-family: 'Lato';
		text-align: center;
	}

	.hero2text {
		padding-top: 20px;

		h1 {
			font-size: 24px;
			font-weight: 900;
			letter-spacing: 4px;
			margin-bottom: 20px;
		}

		h2 {
			font-size: 20px;
		}

		p {
			color: white;
			text-align: left;
			font-family: 'Lato';
			width: 100%;
			font-size: 18px;
		}
	}
}

.hero3 {
	background-color: $secondary-color;
	position: relative;
	height: 40vh;

	.hero3text h1 {
		color: white;
		font-family: 'Lato';
		display: inline-block;
	}

	.hero3text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h1 {
			font-size: 28px;
			letter-spacing: 2.5px;
			margin-bottom: 10px;
			width: 100%;
		}

		a {
			color: white;
			background-color: $primary-color;
			border-radius: 10px;
			font-family: 'Lato';
			font-size: 32px;
			text-align: center;
		}
	}
}

.footer {

	background-color: $tertiary-color;

	.footerText {

		padding-top: 30px;
		margin-bottom: 30px;

		h1 {
			color: white;
			text-align: center;
			font-family: 'Lato';
			padding-bottom: 10px;
			font-size: 20px;
		}

		h1:last-child {
			margin-top: -10px;
		}

		h1:nth-last-child(2) {
			padding-bottom: 0px;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {


	/* nav */ 

	/* mobile specification reset */
	.top-bar-right {
		clear: none;
		text-align: left;
	}

	/* uAchieve logo white */
	.top-bar-left {
		li {
			color: white;
		}
	}

	.top-bar, .top-bar ul {
		padding: 10px;

		li {
			border: none;
		}
	}

}

/* iphone 6 landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

	.hero1 {
		height: 75vh;
	}
	.hero2 {
		height: 90vh;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
	.fullWidth {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: initial;
	}

	.hero1 {
		height: 75vh;

		.hero1text {
			h1 {
				font-size: 100px;
			}

			h2 {
				font-size: 48px;
			}
		}
	}

	.hero2 {
		.hero2text {
			h1 {
				font-size: 48px;
				width: 100%;
				margin-bottom: 30px;
			}

			h2 {
				font-size: 32px;
				width: 100%;
			}
		}
	}

	.hero3 {
		position: relative;
		height: 50vh;
		.hero3text {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			padding: 0px 20px 0px 20px;
			margin: 0px;

			h1 {
				font-size: 48px;
				margin-bottom: 40px;
			}
			h2 {
				font-size: 40px;
				margin-bottom: 15px;
			}
			h3 {
				font-size: 32px;
			}
			a {
				font-size: 32px;
			}
		}
	}

	.footer {
		.footerText {
			h1 {
				font-size: 24px;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}