$primary-color: #4f299a;
$secondary-color: #e1ad2a;
$tertiary-color: #3F4045;

/* nav */
.title-bar {
	float: right;
	background-color: transparent;
}

.top-bar, .top-bar ul {
	/* mobile top bar transparent */
	background-color: transparent;

	/* borders for each menu item */
	li {
		border-bottom: 1px solid white;
	}

	/* link colors white */
	a {
		color: white;
	}
}

.top-bar-right {
	clear: right;
	text-align: right;
}

/* hero1 */
.hero1 {
	position: relative;

	height: 50vh;
	background: #fff url('../img/whiteboard.jpg') no-repeat fixed center center;
	background-size: 150% 100%;

	.hero1text h1, h2{
		font-family: 'Lato';
		color: white;
		font-weight: 900;
		text-align: left;
	}

	.hero1text {
		position: absolute;
		bottom: 5%;
		left: 5%;

		h1 {
			font-size: 36px;
			letter-spacing: 4px;
			margin-bottom: 0px;
		}
	}
}

.hero2 {
	height: 700px;
	background-color: $primary-color;

	.hero2text h1, h2 {
		width: 300px;
		color: white;
		font-family: 'Lato';
		text-align: center;
	}

	.hero2text {
		padding-top: 30px;

		p {
			color: white;
			text-align: left;
			font-family: 'Lato';
			width: 100%;
			font-size: 18px;
		}
	}
}

.hero3 {
	background-color: $secondary-color;
	position: relative;
	height: 40vh;
	width: 100%;

	.hero3text h1 {
		color: white;
		font-family: 'Lato';
		display: inline-block;
	}

	.hero3text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h1 {
			font-size: 22px;
			letter-spacing: 2.5px;
			margin-bottom: 10px;
		}

		a {
			color: white;
			background-color: $primary-color;
			border-radius: 10px;
			font-family: 'Lato';
			font-size: 24px;
			text-align: center;
		}
	}
}

.footer {

	background-color: $tertiary-color;

	.footerText {

		padding-top: 30px;
		margin-bottom: 30px;

		h1 {
			color: white;
			text-align: center;
			font-family: 'Lato';
			padding-bottom: 10px;
			font-size: 20px;
		}

		h1:last-child {
			margin-top: -10px;
		}

		h1:nth-last-child(2) {
			padding-bottom: 0px;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {


	/* nav */ 

	/* mobile specification reset */
	.top-bar-right {
		clear: none;
		text-align: left;
	}

	/* uAchieve logo white */
	.top-bar-left {
		li {
			color: white;
		}
	}

	.top-bar, .top-bar ul {
		padding: 10px;

		li {
			border: none;
		}
	}

	/* right side links */
	.top-bar a, .top-bar ul a {
		font-size: 20px;
		font-weight: 600;
	}

	/* left side header */
	.top-bar-left .menu a {
		font-size: 36px;
	}

	/* quick fix for scaling nav */
	.top-bar {
		position: relative;
	}

	.top-bar-right {
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);
	}
	/* */

	.hero1 {
		height: 450px;

		.hero1text {
			h1 {
				font-size: 48px;
			}
		}
	}

	.hero2 {
		height: 750px;

		.hero2text {
			padding-top: 50px;
			padding-left: 20px;
			padding-right: 20px;

			p {
				font-size: 24px;
			}
		}
	}

	.hero3 {

		height: 30vh;

		.hero3text {
			h1 {
				font-size: 32px;
			}
		}
	}
}

/* iphone 6 landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

	.hero1 {
		height: 75vh;
	}
	.hero2 {
		height: 750px;
	}
	.hero3 {
		height: 300px;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
	.fullWidth {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: initial;
	}


	.hero1 {
		height: 75vh;

		.hero1text {
			h1 {
				font-size: 80px;
			}
		}
	}

	.hero2 {
		/* position already relative */
		height: 700px;

		.hero2text {
			position: absolute;
			left: 5%;

			padding-left: 0;
			padding-right: 5%;

			margin-top: 50px;

			p {
				font-size: 32px;
			}
		}
	}

	.hero3 {

		height: 300px;

		.hero3text {

			width: 100%;

			h1 {
				font-size: 48px;
				display: block;
			}
		}
	}

	.footer {
		.footerText {
			h1 {
				font-size: 24px;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}