
/* nav */
.title-bar {
	float: right;
	background-color: transparent;
}

.top-bar-right {
	clear: right;
	text-align: right;
}

table {
	border: 1px solid red;
}

/* hero1 */
.hero1 {

	/* necessary for hamburger menu and hero1text centering */
	z-index: -1 !important;
	position: relative;

	/* compensation for nav */
	margin-top: -40px;


	height: 50vh;
	background: #fff url('../img/whiteboard.jpg') no-repeat fixed center center;
	background-size: 150% 100%;

	.hero1text h1, h2{
		font-family: 'Lato';
		color: white;
		font-weight: 900;
		text-align: center;
	}

	.hero1text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 48px;
			letter-spacing: 4.5px;
		}

		h2 {
			font-size: 24px;
			letter-spacing: 3px;
		}
	}
}

.hero2 {
	position: relative;
	height: 50vh;
	background-color: #4f299a;

	.hero2text h1, h2 {
		width: 300px;
		color: white;
		font-family: 'Lato';
		text-align: center;
	}

	.hero2text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 24px;
			font-weight: 900;
			letter-spacing: 4px;
			margin-bottom: 20px;
		}

		h2 {
			font-size: 20px;
		}
	}
}

.hero3 {
	height: 40vh;
	background: #fff url('../img/andyteaching.jpg') no-repeat left top;
	background-size: 100% 100%;
}

.hero4 {
	background-color: #e1ad2a;

	.hero4text h1, h2, h3 {
		color: white;
		font-family: 'Lato';
		text-align: left;
	}

	.hero4text {

		padding-top: 20px;
		margin-bottom: 30px;

		h1 {
			font-size: 28px;
			letter-spacing: 2.5px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 24px;
			letter-spacing: 2px;
		}
		h3 {
			font-size: 18px;
			display: inline;
			margin-bottom: 5px;
		}
		a {
			color: white;
			text-decoration: underline;
			font-family: 'Lato';
		}
	}
}

.footer {

	background-color: #3F4045;

	.footerText {

		padding-top: 30px;
		margin-bottom: 30px;

		h1 {
			color: white;
			text-align: center;
			font-family: 'Lato';
			padding-bottom: 10px;
			font-size: 24px;
		}

		h1:last-child {
			margin-top: -10px;
		}

		h1:nth-last-child(2) {
			padding-bottom: 0px;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {


	/* nav */ 

	/* mobile specification reset */
	.top-bar-right {
		clear: none;
		text-align: left;
	}


}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}