$primary-color: #4f299a;
$secondary-color: #e1ad2a;
$tertiary-color: #3F4045;

/* nav */
.title-bar {
	float: right;
	background-color: transparent;
}

.top-bar, .top-bar ul {
	/* mobile top bar transparent */
	background-color: transparent;

	/* borders for each menu item */
	li {
		border-bottom: 1px solid white;
	}

	/* link colors white */
	a {
		color: white;
	}
}

.top-bar-right {
	clear: right;
	text-align: right;
}

/* hero1 */
.hero1 {
	position: relative;

	height: 450px;
	background: #fff url('../img/whiteboard.jpg') no-repeat fixed right center;
	background-size: 180% 100%;

	.hero1text h1, h2{
		font-family: 'Lato';
		color: white;
		font-weight: 900;
		text-align: center;
	}

	.hero1text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 48px;
			letter-spacing: 4.5px;
		}

		h2 {
			font-size: 24px;
			letter-spacing: 3px;
		}
	}
}

.hero2 {
	position: relative;
	height: 50vh;
	background-color: $primary-color;

	.hero2text h1, h2 {
		width: 300px;
		color: white;
		font-family: 'Lato';
		text-align: center;
	}

	.hero2text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h1 {
			font-size: 24px;
			font-weight: 900;
			letter-spacing: 4px;
			margin-bottom: 20px;
		}

		h2 {
			font-size: 20px;
		}
	}
}

.hero3 {
	height: 40vh;
	background: #fff url('../img/andyteaching.jpg') no-repeat left top;
	background-size: 100% 100%;
}

.hero4 {
	background-color: $secondary-color;

	.hero4text h1, h2, h3 {
		color: white;
		font-family: 'Lato';
		text-align: left;
	}

	.hero4text {

		padding-top: 20px;
		margin-bottom: 30px;

		h1 {
			font-size: 28px;
			letter-spacing: 2.5px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 24px;
			letter-spacing: 2px;
		}
		h3 {
			font-size: 20px;
			display: inline;
			margin-bottom: 5px;
		}

		a {
			color: white;
			font-family: 'Lato';
			font-size: 18px;
		}
		span {
			text-decoration: underline;
		}
	}

	.hero4extended {
		height: 965px;
	}
}

.footer {

	background-color: $tertiary-color;

	.footerText {

		padding-top: 30px;
		margin-bottom: 30px;

		h1 {
			color: white;
			text-align: center;
			font-family: 'Lato';
			padding-bottom: 10px;
			font-size: 20px;
		}

		h1:last-child {
			margin-top: -10px;
		}

		h1:nth-last-child(2) {
			padding-bottom: 0px;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {


	/* nav */ 

	/* mobile specification reset */
	.top-bar-right {
		clear: none;
		text-align: left;
	}

	/* uAchieve logo white */
	.top-bar-left {
		li {
			color: white;
		}
	}

	.top-bar, .top-bar ul {
		padding: 10px;

		li {
			border: none;
		}
	}

	/* right side links */
	.top-bar a, .top-bar ul a {
		font-size: 20px;
		font-weight: 600;
	}

	/* left side header */
	.top-bar-left .menu a {
		font-size: 36px;
	}

	/* quick fix for scaling nav */
	.top-bar {
		position: relative;
	}

	.top-bar-right {
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);
	}
	/* */

	.hero1 {
		background: #fff url('../img/whiteboard.jpg') no-repeat fixed center center;
		background-size: 130% 100%;
	}

	/* andyteaching res change on tablet */
	.hero3 {
		background-position: 50% 50%;
		background-size: cover;
	}

	.hero4 {
		height: 350px;

		.hero4text {
			margin-top: 50px;
		}
	}

	.hero4extended {
		height: 650px;
	}

}

/* iphone 6 landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

	.hero1 {
		height: 75vh;
	}
	.hero2 {
		height: 90vh;
	}
	.hero3 {
		height: 70vh;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
	.fullWidth {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: initial;
	}

	.hero1 {
		height: 75vh;

		.hero1text {
			h1 {
				font-size: 100px;
			}

			h2 {
				font-size: 48px;
			}
		}
	}

	.hero2 {

		height: 500px;

		.hero2text {

			width: 75%;

			h1 {
				font-size: 48px;
				width: 100%;
				margin-bottom: 30px;
			}

			h2 {
				font-size: 32px;
				width: 100%;
			}
		}
	}

	.hero3 {
		height: 60vh;
	}

	.hero4 {
		position: relative;
		height: 600px;
		.hero4text {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			padding: 0px 20px 0px 20px;
			margin: 0px;

			h1 {
				font-size: 48px;
				margin-bottom: 40px;
			}
			h2 {
				font-size: 40px;
				margin-bottom: 15px;
			}
			h3 {
				font-size: 32px;
			}
			a {
				font-size: 32px;
			}
		}
	}

	.hero4extended {
		height: 800px;
	}

	.footer {
		.footerText {
			h1 {
				font-size: 24px;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}