$primary-color: #4f299a;
$secondary-color: #e1ad2a;
$tertiary-color: #3F4045;

/* nav */
.title-bar {
	float: right;
	background-color: transparent;
}

.top-bar, .top-bar ul {
	/* mobile top bar transparent */
	background-color: transparent;

	/* borders for each menu item */
	li {
		border-bottom: 1px solid white;
	}

	/* link colors white */
	a {
		color: white;
	}
}

.top-bar-right {
	clear: right;
	text-align: right;
}

/* hero1 */
.hero1 {
	position: relative;

	height: 400px;
	background: #fff url('../img/whiteboard.jpg') no-repeat fixed center center;
	background-size: 150% 100%;

	.hero1text h1, h2{
		font-family: 'Lato';
		color: white;
		font-weight: 900;
		text-align: center;
	}

	.hero1text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 320px;

		h1 {
			font-size: 48px;
			letter-spacing: 4.5px;
		}

		h2 {
			font-size: 24px;
			letter-spacing: 3px;
		}
	}
}

.hero2 {
	height: 700px;
	background-color: $secondary-color;

	.hero2text {
		margin-top: 30px;
		h1, h2, p {
			font-family: 'Lato';
			color: white;
		}

		h1 {
			font-size: 32px;
			text-align: center;
		}
		h2 {
			font-size: 28px;
		}
		p {
			font-size: 20px;
		}
	}

	.hero2table {
		margin-bottom: 20px;
	}
}

.hero3 {
	height: 500px;
	background-color: $primary-color;

	.hero3form {
		margin-top: 20px;
		text-align: center;

		padding-left: 10px;
		padding-right: 10px;

		label {
			text-align: left;
			color: white;
			font-family: 'Lato';
		}

		#submit {
			background-color: $secondary-color;
			font-family: 'Lato';
			display: inline-block;
			border-radius: 5px;
			font-size: 18px;
		}
	}
}

.footer {

	background-color: $tertiary-color;

	.footerText {

		padding-top: 30px;
		margin-bottom: 30px;

		h1 {
			color: white;
			text-align: center;
			font-family: 'Lato';
			padding-bottom: 10px;
			font-size: 20px;
		}

		h1:last-child {
			margin-top: -10px;
		}

		h1:nth-last-child(2) {
			padding-bottom: 0px;
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {


	/* nav */ 

	/* mobile specification reset */
	.top-bar-right {
		clear: none;
		text-align: left;
	}

	/* uAchieve logo white */
	.top-bar-left {
		li {
			color: white;
		}
	}

	.top-bar, .top-bar ul {
		padding: 10px;

		li {
			border: none;
		}
	}

	/* right side links */
	.top-bar a, .top-bar ul a {
		font-size: 20px;
		font-weight: 600;
	}

	/* left side header */
	.top-bar-left .menu a {
		font-size: 36px;
	}

	/* quick fix for scaling nav */
	.top-bar {
		position: relative;
	}

	.top-bar-right {
		position: absolute;
		top: 50%;
		right: 2%;
		transform: translateY(-50%);
	}
	/* */

	.hero1 {
		height: 550px;
	}

	.hero2 {
		height: 500px;
	}

	.hero3 {
		height: 350px;
	}
}

/* iphone 6 landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
	.hero3 {
		height: 90vh;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {
	.fullWidth {
	   width: 100%;
	   margin-left: auto;
	   margin-right: auto;
	   max-width: initial;
	}

	.hero1 {
		height: 700px;

		.hero1text {
			width: 800px;
			h1 {
				font-size: 100px;
			}

			h2 {
				font-size: 48px;
			}
		}
	}

	.hero3 {
		.hero3text {
			h1 {
				font-size: 48px;
				width: 100%;
				margin-bottom: 30px;
			}

			h2 {
				font-size: 32px;
				width: 100%;
			}
		}
	}

	.footer {
		.footerText {
			h1 {
				font-size: 24px;
			}
		}
	}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}